@font-face {
    font-family: openSans;
    src: url(/assets/fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: openSansBold;
    src: url(/assets/fonts/OpenSans-Bold.ttf)
}

@font-face {
    font-family: openSansLight;
    src: url(/assets/fonts/OpenSans-Light.ttf)
}